<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="./master.css">
  <title>Boolzapp</title>
</head>
<body>
  <div class="banner">

  </div>
  <div id="root">
    <div class="container">
      <div class="text">
        <aside>
          <div class="navbar">
            <div class="profile">
              <img src="./img/avatar_io.jpg" alt="io">
            </div>
            <p class="three-icons">
              <i class="fas fa-circle-notch"></i>
              <i class="far fa-comment-alt"></i>
              <i class="fas fa-ellipsis-v"></i>
            </p>
          </div>
          <div class="notifiche">
            <div class="bell-logo">
              <i class="fas fa-bell-slash"></i>
            </div>
            <div class="notifiche-list">
              <ul class="ricevi-not">
                <li>Ricevi notifiche di nuovi messaggi</li>
                <li>Attiva notifiche di desktop</li>
              </ul>
            </div>
          </div>
          <div class="input-cerca">
            <i class="fas fa-search"></i>
            <input v-model="inputSearch" type="text" placeholder="Cerca o inizia una nuova chat">
          </div>
          <div class="list-contacts">
            <div class="contact" v-if="contact.name.toLowerCase().includes(inputSearch.toLowerCase())" v-for="(contact, i) in contacts"  @click="click_person(contact, i)">
              <!-- v-if, perche' sto mettendo una funzione nel v-if  (prima utilizzavo il computed)-->
              <img class="icon-contact" width="50px" :src="'./img/avatar' + contact.avatar + '.jpg'" alt="">
              <span
                class="name">
                {{contact.name}}
              </span>
            </div>
          </div>
        </aside>
        <div class="contenitore-destro">
          <div class="navbar">
            <div class="profile">
              <img class="icon-contact" width="50px" :src="'./img/avatar' + contacts[indexSel].avatar + '.jpg'" alt="">
            </div>
            <div class="contact-details">
              <h4 class="name">{{ contacts[indexSel].name }}</h4>
              <span> Ultimo accesso  {{ contacts[indexSel].messages[contacts[indexSel].messages.length -1].date }}</span>
            </div>
            <div class="search-points">
              <i class="fas fa-search"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>

          </div>
           <!-- v-for="contact in contacts" -->
          <div class="bg-chat">
            <div class="message" v-for="message in user.messages">
              <div :class= "(message.status == 'received') ?'received':'sent'">{{ message.text }}
                <p>{{ message.date }}</p>
              </div>

              <!-- <div class="sent">{{ message.text }}</div> -->
            </div>
          </div>
          <div class="bottom-chat">
            <div class="two-icons">
              <i class="far fa-grin-alt"></i>
              <i class="fas fa-paperclip"></i>
            </div>
            <div class="input-chat">
              <input
                v-model="inputText"
                type="text"
                placeholder="Scrivi un messaggio"
                @keyup.enter="add(user)">
            </div>
            <div class="microphone">
              <i class="fas fa-microphone"></i>
            </div>
          </div>
        </div>
     </div>
    </div>
  </div>


<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js" integrity="sha512-0fcCRl828lBlrSCa8QJY51mtNqTcHxabaXVLPgw/jPA5Nutujh6CbTdDgRzl9aSPYW/uuE7c4SffFUQFBAy6lg==" crossorigin="anonymous"></script>
<script src="./dati.js" charset="utf-8"></script>
<script src="./main.js" charset="utf-8"></script>
</body>
</html>
