* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #dadbd5;
  font-family: 'Roboto', sans-serif;
}

.banner {
  height: 130px;
  background-color: #009688;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: #ededed;
  background-color: white;
  /* width: 80vw;
  height: 95vh; */
  margin: 0 auto;
  box-shadow: 1px 1px 4px 4px #888888;
}

.text {
  display: flex;
  /* align-items: center; */
}

aside {
  background-color: #ededed;
  color: #717171; /*grey text aside*/
  width: 400px;
  height: 100%;
  /* padding-left: 20px; */
  /* padding-bottom: 10px; */
  border-right: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.left-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;

}
.navbar img {
  width: 50px;
  border-radius: 50%;
  /* padding-top: 10px; */
}

.navbar .three-icons i {
  font-size: 15px;
  padding: 0 15px;
}

.notifiche {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  background-color: #9de1fe;
  color: #262626;
  padding: 20px 10px;
}

.ricevi-not li {
  list-style: none;
  font-weight: lighter;
}

.ricevi-not li a {
  cursor: pointer;
  font-size: 12px;
  padding-top: 5px;
  text-decoration: none;
  color: #262626;
}

.ricevi-not li:last-child:hover {
  text-decoration: underline;
}
.bell-logo {
  background-color: white;
  border-radius: 50%;
  padding: 10px;
}

.bell-logo .fa-bell-slash {
  color: #9de1fe;
}

.input-cerca {
  background-color: #fff;
  border-radius: 20px;
  width: 80%;
  border-style: none;
  padding: 10px;
  margin: 10px 5px;
}

.input-cerca input {
  width: 85%;
  border-style: none;
  padding: 5px 0;
  outline: none;
}

.list-contacts {
  background-color: white;
}

.contact {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  padding: 20px 10px;
}

.img-name {
  display: flex;
  align-items: center;
}

.contact:hover {
  background-color: rgba(0, 0, 0, 0.1)
}

.icon-contact {
  border-radius: 50%;
}

.name {
  padding-left: 10px;
}

.contact-details span {
  padding-left: 10px;
}

.contenitore-destro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ededed;
  color: #717171; /*grey text aside*/
  width: 100%;
  height: 890px;
  /* padding-left: 20px; */
  /* padding-bottom: 10px; */

}

.profile {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.profile h3 {
  padding-left: 20px;
}

.search-points {
  font-size: 20px;
  padding-right: 20px;
}

.search-points i {
  padding: 0 20px;
}
.bg-chat {
  background-image: url("./img/mine.jpg");
  height: 100%;
}

.bottom-chat {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
}

.bottom-chat i {
  padding: 10px;
  font-size: 20px;
}

.input-chat input {
  border-radius: 30px;
  width: 53vw;
  border-style: none;
  padding: 15px 10px;
  margin: 5px;
  outline: none;
}

.two-icons {
  display: flex;
}

.message {
  padding: 10px;
  color: black;
}

.message p {
  font-size: 12px;
  color: #717171;
}

.message:after{ /*clearfix*/
  content: '';
  display: table;
  clear: both; }

.message:hover i {
  display: block;
  cursor: pointer;
  position: absolute;
  padding: 10px 0;
  top: 0;
  right: 0;
}

.message i {
  display: none;
}

.received {
  background-color: #fff;
  position: relative;
  float: left;
  padding: 10px;
  border-radius: 10px;s
}

.sent {
  background-color: #dcf8c6;
  position: relative;
  float: right;
  padding: 10px;
  border-radius: 10px;
}

.message-options {
  z-index: 10;
  position: absolute;
  float: right;
  color: #717171;
}

.bg-message {
  background-color: #fff;
  color: black;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 8px;
  margin-top: 15px;
}

.message-info {
  cursor: pointer;
  padding: 4px 0;
}

.message-destroy {
  cursor: pointer;
  padding: 4px 0;
}
@media screen and (min-width:481px){
  .profile i {
    display: none;
  }
}
@media screen and (max-width: 1024px){
  aside {
    width: 300px;
  }
}

@media screen and (max-width: 768px){
  .text {
    width: 730px;
  }
}

@media screen and (max-width: 480px){
  .contenitore-destro, aside  {
    display: none;
    height: 815px;
    /* width: 100%; */
  }

  .contenitore-destro.show, aside.show {
    display: flex;
    flex-direction: column;
    width: 320px;
  }

  .text {
    width: 100%;
  }

}
