* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #dadbd5;
}

.banner {
  height: 130px;
  background-color: #009688;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: #ededed;
  background-color: white;
  width: 80vw;
  height: 95vh;
  margin: 0 auto;
  box-shadow: 1px 1px 4px 4px #888888;
}

aside {
  background-color: #ededed;
  color: #717171; /*grey text aside*/
  width: 330px;
  height: 100%;
  padding-left: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}
